<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/stylesheets/styles.css" rel="stylesheet">
    <title>Message Board</title>
  </head>
  <body>
    <h1 class="page-title">The Message Board</h1>
    <div class="posts" id="posts">
      <% @composite_posts.each do |parent| %>
        <div class="post" id="<%= parent.post.id %>">
          <h3 class="post-title" id="post-title"><%= parent.post.title %></h3>
          <p id="post-content"><%= parent.post.content %></p>
          <div class="ratings">
            <span class="rating" id="post-likes">&#128077;<%= parent.post.likes %></span>
            <span class="rating" id="post-dislikes">&#128078;<%= parent.post.dislikes %></span>
          </div>
          <div class="comments" id="post-comments">
            <% parent.comments.each do |comment| %>
              <div class="comment" id="<%= comment.id %>">
                <p class="comment-text" id="post-comment"> <%= comment.content %></p>
                <div class="ratings">
                  <span class="rating" id="comment-likes">&#128077;<%= comment.likes %></span>
                  <span class="rating" id="comment-dislikes">&#128078;<%= comment.dislikes %></span>
                </div>
              </div>
            <% end %>
            <form>
              <div>
                <textarea class="comment-box" name="message" placeholder="comment..."></textarea>
              </div>
              <input type=submit value="Add comment">
            </form>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
