<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/stylesheets/styles.css" rel="stylesheet">
    <title>Message Board</title>
  </head>
  <body>
    <h1 class="page-title">The Message Board</h1>

    <div class="new-post" id="new-post">
      <div class="new-post-content">
      <h3 class="new-post-title" id="new-post-title">New post submission</h3>
        <form method="post" action="/new-post">
            <input class="new-post-title-textbox" id="new-post-title-textbox" type="text" name="title" placeholder="title" required>
          <div>
            <textarea class="post-textbox" id="new-post-textbox" name="post-content" placeholder="A brand new message to post..." required></textarea>
          </div>
          <input type="hidden" id="user_id" name="user-id" value="<%= @user_id %>">
          <input class="new-post-button" id="add-post" type=submit value="Add Post">
        </form>
      </div>
    </div>

    <div class="posts" id="posts">
      <% @composite_posts.each do |parent| %>
        <div class="post" id="<%= parent.post.id %>">
          <h3 class="post-title" id="post-title"><%= parent.post.title %></h3>
          <p id="post-content"><%= parent.post.content %></p>
          <div class="ratings">
            <span class="rating" id="post-likes">&#128077;<%= parent.post.likes %></span>
            <span class="rating" id="post-dislikes">&#128078;<%= parent.post.dislikes %></span>
          </div>
          <div class="comments" id="post-comments">
            <% parent.comments.each do |comment| %>
              <div class="comment" id="<%= comment.id %>">
                <p class="comment-text" id="post-comment"> <%= comment.content %></p>
                <div class="ratings">
                  <span class="rating" id="comment-likes">&#128077;<%= comment.likes %></span>
                  <span class="rating" id="comment-dislikes">&#128078;<%= comment.dislikes %></span>
                </div>
              </div>
            <% end %>
            <form id="comment-posting-form" action="/add-comment" method="post">
              <div>
                <textarea class="comment-box" id="new-comment-textbox" name="content" placeholder="comment..."></textarea>
              </div>
              <input type="hidden" id="user_id" name="user_id" value="<%= @user_id %>">
              <input type="hidden" id="post_id" name="post_id" value="<%= parent.post.id %>">
              <input class="new-comment-button" type=submit value="Add Comment">
            </form>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
