<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Board</title>
  </head>
  <body>
    <h1>The Message Board</h1>
    <div id="posts">
      <% @posts.each do |post| %>
        <div class="post" id="<%= post.id %>">
        <h3 id="post-title"><%= post.title %></h3>
        <p id="post-content"><%= post.content %></p>
        <span id="post-likes">likes: <%= post.likes %></span>
        <span id="post-dislikes">dislikes: <%= post.dislikes %></span>
        <div id="post-comments">
          <% @comments.each do |comment| %>
              <% if comment.post_id == post.id %>
                <div class="comment" id="<%= comment.id %>">
                  <p id="post-comment"> <%= comment.content %></p>
                  <span id="comment-likes">comment likes: <%= comment.likes %></span>
                  <span id="comment-dislikes">comment dislikes: <%= comment.dislikes %></span>
                </div>
              <%end%>
          <% end %>
        </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
